/* Font familys */
@font-face {
	font-family: "webFontONe";
	src: url("fonts/CaviarDreams.ttf");
}

@font-face {
	font-family: "avenir";
	src: url("fonts/CaviarDreams.ttf");
}

/* Animations */
@keyframes headerAnim {
	0% {
		background-color: limegreen;
	}

	25% {
		background-color: #ff6192;
	}

	50% {
		background-color: #61a1ff;
	}

	75% {
		background-color: #00ebaf;
	}

	100% {
		background-color: limegreen;
	}
}

@keyframes headerImageAnim {
    0% {
        opacity: 0;
        bottom: -150px;
    }
    50% {
        bottom: -150px;
        opacity: 0;
    }
    100% {
        bottom: 0px;
        opacity: 1;
    }
}


/* Basic Styles */

.prime-font-100 {
	font-family: webFontOne;
	font-weight: 100;
	color: white;
}

.prime-font-600 {
	font-family: webFontOne;
	font-weight: 600;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	background-color: limegreen;
	animation-name: headerAnim;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

h1 {
	color: gray;
	font-size: 3em;
}


.fixed {
    position: fixed;
}

/* Header */
header {
	max-height: 300px;
	width: 100vw;
	text-align: center;
	margin: 0;
	padding:0;
	overflow: hidden;
}

header h1 {
	position: relative;
	margin-bottom: 0;
}

.headerText {
	top: 100px;
	padding-left: 10px;
}

.headerImage img {
	position: relative;
	bottom: 0;
	right: 0;
	max-width: 600px;
	width: auto;
	height: 300px;
}

.buttonlink {
	font-family: avenir, arial;
	color: white;
	font-weight: bold;
	padding: 0.5em;
	border: 3px solid white;
	border-radius: 10px;
	transition: 0.3s;
	text-decoration: none;
}

.buttonlink:hover {
	transition: 0.3s;
	background-color: white;
	color: gray;
}

/* Nav */
nav {
	width: 100vw;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: gray;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 1em;
	margin: 0;
	transition: 0.5s;
}

nav li a {
	text-decoration: none;
	color: white;
	font-family: avenir, sans-serif;
	font-weight: 700;
}

.selected {
	color: limegreen;
	border-bottom: 3px solid limegreen;
	padding-bottom: calc(1em - 2px);
}

nav li:hover {
	background-color: limegreen;
	transition: 0.3s;
}

/* Wrapper */

#wrapper {
	width: 100vw;
	min-height: 500px;
	background-color: white;
}

div {
	text-align: center;
	box-sizing: border-box;
}

section {
    min-height: 10px;
    overflow: hidden;
}

#home .pull div {
	min-height: 175px;
}

section .pull img {
    height: 151px;
    width: auto;
    padding: 3em;
}

.orange-light {
	background-color: #ffd480;
}

.orange-dark {
	background-color: #ffb180;
}

.blue-light {
	background-color: #9ec1ff;
}

.blue-dark {
	background-color: #618eff;
}

.green {
	background-color: #68ee75;
}

.green-light {
	background-color: #a9ff9e;
}

.gray-light {
    background-color: #ebf1f5;
}

.pull {

}

.pull img {
	width: 100%;
	height: auto;
	position: relative;
	bottom: 0;
    margin-bottom: -5px;
    transition: 0.3s;
    animation-name: headerImageAnim;
    animation-duration: 2s;
}

.pull img:hover {
    transition: 5s;
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
}

.pull *, section * {
	font-family: avenir, arial;
}

.pull h2, section h2 {
	font-weight: 600;
}

.pull p,section p {
	font-weight: 600;
    line-height: 2em;
}

.pull-right-70 {
	float: right;
	width: 70%;
	margin: 0;
}

.pull-left-30 {
	float: left;
	width: 30%;
	margin: 0;
}

.pull-right-60 {
	float: right;
	width: 60%;
	margin: 0;
}

.pull-left-40 {
	float: left;
	width: 40%;
	margin: 0;
}

.pull-right-30 {
	float: right;
	width: 30%;
	margin: 0;
}

.pull-left-70 {
	float: left;
	width: 70%;
	margin: 0;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: RIGHT;
}

.padding1 {
	padding: 1em;
}

section {
	width: 100%;
}

/* Footer */
footer {
	text-align: center;
}

/* Mobile */

@media screen and (max-width: 600px) {
	.pull {
        text-align: center;
		width: 100%;
	}
    .text-left {
        text-align: center;
    }
    
	body header {
		max-height: 400px;
	}

	body .headerImage img {
		bottom: -10px;
	}

	body nav li {
		display: block;
		text-align:center;
	}
	
}

.row {
    height: 60px; margin-top: 10px;
}
.row div {
    background-color: orange; height: 50px; padding-top: 5px; padding-bottom: 5px;   
}